<template name="imageComponent">
    <style>
        .profile-container {
            width: 80px;
            height: 80px;
            overflow: hidden;
            border-radius: 25%;
        }
        .profile-img {
            width: 100% ;
            height: 100% ;
            object-fit: cover;
        }

        .profile-img:hover{
            cursor: pointer;
        }
          
        @media screen and (max-width: 600px) {
            .profile-container{
                width: 75px;
                height: 75px;
            }
        }
    </style>
    <div class="profile-container">
        <img src="{{image}}" alt="Profile Picture" class="profile-img">
    </div>
</template>